<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display:flex; justify-content: center;">
    <form (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">E-Mail Address</ion-label>
          <ion-input id="email-input" type="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required email
            (ionInput)="clearMessages()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input id="password-input" type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel"
            required (ionInput)="clearMessages()"></ion-input>
        </ion-item>
      </ion-list>
      <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="info" *ngIf="infoMessage">{{ infoMessage }}</div>
      <ion-button type="submit" [disabled]="!submitEnabled">Submit</ion-button>
    </form>
    
  </div>
</ion-content>